__pycache__
*.py[oc]
*.egg-info
*.egg
# setup.py working directory
build
# setup.py dist directory
dist

# generated c source and built extensions
*.so
*.pyd

.DS_Store
.python-version
.noseids

tests/_tmpdir
